<nav class="navbar navbar-default">
    <div class="conteiner-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">
    Projeto Subtração
        </a>
        </div>
    </div>
</nav>
        <div class="container">
            <div class="col-md-6 col-md-offset-6">
                <form>
                    <p>
                        <mat-form-field>
                        <mat-label>Número 1</mat-label>
                        <input matInput #numero1 placeholder="Digite o 1o. número da soma">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>1o. número da Subtração</mat-hint>
                        </mat-form-field>
                        </p>
                        <p>
                        <mat-form-field>
                        <mat-label>Número 2</mat-label>
                        <input matInput #numero2 placeholder="Digite o 2o. número da Subtração">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>2o. número da Subtração</mat-hint>
                        </mat-form-field>
                        </p>
                        <button mat-raised-button type="button" color="primary"
                        (click)="subtrair(numero1.value, numero2.value)">Subtrair</button>
                        <p><input matInput [value]="resultado" readonly></p>
                    </form>
            </div>
        </div>
